
/* HEADER */

.bg-darkblue{
    background-color: rgba(44,62,80,255);
}

/* MAIN */

/* JUMBO */

.jumbotron{
    background: rgba(83,189,157,255);
}


/* PORTFOLIO */


.bg-purple{
    background-color: rgba(186,75,99,255);
}

.bg-lightblue{
    background-color: rgba(67,164,182,255);
}

.bg-black{
    /* background-color: black; */
}

.bg-lightblue2{
    background-color: rgba(46,131,193,255);
}

.bg-blue{
    background-color: rgba(14,56,181,255);
}

.bg-sand{
    background-color: rgba(204,178,163,255);
}

figure{
    max-width: 100%;
}

img{
    max-width: 100%;
}


/* ABOUT */

.about{
    background-color: lightgreen;
}

.about .container{
    background-color: lightskyblue;
    height: 400px;
    width: 60%;
}

/* CONTACT */

.contact .container{
    background-color: black;
    height: 400px;
    width: 60%;
}

/* FOOTER */

footer{
    background-color: dodgerblue;
    height: 400px;
}

footer .container{
    background-color: firebrick;
    height: 320px;
}

footer .bottom-bar{
    background-color: darkblue;
    height: 80px;
}