
/* HEADER */

header{
    background-color: lightblue;
}

header i{
    font-size: 30px;
    color: black;
}

/* JUMBO */

.jumbotron{
    background: lightgreen;
    height: 400px;
}

/* MAIN */

/* CARDS */

.card{
    background-color: lightpink;
    height: 350px;
}

.mt-6{
    margin-top: 200px;
}

/* ABOUT */

.about{
    background-color: lightgreen;
}

.about .container{
    background-color: lightskyblue;
    height: 400px;
    width: 300px;
}

/* CONTACT */

.contact .container{
    background-color: black;
    height: 400px;
    width: 300px;
}

/* FOOTER */

footer{
    background-color: dodgerblue;
    height: 400px;
}